{% extends 'base.html' %}

{% load markup %}

{% block pagetitle %}Give answer{% endblock%}
{% block title %} {{url_question.title}} {% endblock%}
{% block primary %}
<p>
{{ url_question.explanation|markdown:"safe" }}
</p>
<form action="." method = "POST">{% csrf_token %}
<table>
    <tr><th colspan=2 align=left>Your Answer:</th><td></td><td></td></tr>
    <tr><th></th><td>{{ form.explanation }}</td><td></td></tr>
    <tr><th>Tags:</th><td>{{ form.tags }}</td><td></td></tr>
    <tr><td></td><td><input type="submit" value="Submit answer"><INPUT type="button" value="Click here to go back" onClick="history.back()"></td><td></td></tr>

</table>
</form>
{% endblock %}
