{% extends 'base.html' %}

{% load markup %}

{% block pagetitle %}Give answer{% endblock%}
{% block title %} {{url_question.title}} {% endblock%}
{% block primary %}

<!-- <script type="text/javascript" >
   $(document).ready(function() {
      $("#id_explanation").markItUp(mySettings);
   });
</script> -->

<p>
{{ url_question.explanation|markdown:"safe" }}
</p>
<form action="." method = "POST">{% csrf_token %}
<table>
    <tr><th colspan=2 align=left>Your Answer:</th><td></td><td></td></tr>
    <tr><th></th><td>{{ form.explanation }}</td><td></td></tr>
    <tr><th>Tags:</th><td>{{ form.tags }}</td><td></td></tr>
    
{% comment %} <script type="text/javascript">{% endcomment %}
{% comment %}	CKEDITOR.replace( "explanation" );{% endcomment %}
{% comment %}</script>{% endcomment %}

</table>

<p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
