{% extends 'base.html' %}

{% block pagetitle %}New Project{% endblock%}
{% block title %}Define your project{% endblock%}
{% block primary %}
<form action="." method = "POST">{% csrf_token %}
<table>
    <tr><th>Give a name for your project:</th><td>{{ form.name }}</td></tr>
    <tr><th></th><td></td></tr>

    
{% comment %} <script type="text/javascript">{% endcomment %}
{% comment %}	CKEDITOR.replace( "explanation" );{% endcomment %}
{% comment %}</script>{% endcomment %}

</table>
<p><input type="submit" value="Submit"></p>
</form>
{% endblock %}
