{% extends 'project_base.html' %}
{% load markup %}
{% block p_content %}


<h2>Add question to {{ url_project.name }}</h2>
<form action="." method = "POST">{% csrf_token %}
<table class="form">
<tr><th>Title:</th><td>{{ form.title}}</td><td></td></tr>
<tr><th>Explanation:</th><td>{{ form.explanation }}</td>
<td>
	<div class="wmd-preview"></div>
</td>
</tr>
<tr><td></td><td><input type="submit" value="Add this question"><INPUT type="button" value="Click here to go back" onClick="history.back()"> </td><td></td></tr>

</table>
</form>

{% endblock %}
