{% extends 'base.html' %}
{% load markup %}

{% block pagetitle %}Create new question{% endblock%}
{% block title %} Edit question {{project.name}} {% endblock%}
{% block primary %}

<form action="." method = "POST">{% csrf_token %}
<p>
<table class="form">
<tr><th>Title:</th><td>{{ form.title }}</td></tr>
<tr><th>Explanation:</th><td>
{{ form.explanation|safe  }}</td>
</tr>

<tr><th></th><td><input type="submit" value="Save your changes"><INPUT type="button" value="Click here to go back" onClick="history.back()"></td></tr>

</table>
</form>

{% endblock %}
