{% extends 'base.html' %}
{% load markup %}

{% block pagetitle %}Create new question{% endblock%}
{% block title %} {{project.name}} {% endblock%}
{% block primary %}

<!--<script type="text/javascript" >
   $(document).ready(function() {
      $("#id_explanation").markItUp(mySettings);
   });
</script> -->

<form action="." method = "POST">
<p>
<table>
<tr><th>Title:</th><td>{{ form.title }}</td></tr>
<tr><th>Explanation:</th>

<td>
{{ form.explanation|safe  }}
</td>
{% comment %} <script type="text/javascript">{% endcomment %}
{% comment %}	CKEDITOR.replace( "explanation" );{% endcomment %}
{% comment %}</script>{% endcomment %}

</tr>

<tr><th>Tags:</th><td>{{ form.tags }}</td></tr>

</table>
<p><input type="submit" value="Submit"></p>
</form>

{% endblock %}