{% extends 'project_base.html' %}
{% load markup %}

{% block p_content %}

<!-- <script type="text/javascript" >
   $(document).ready(function() {
      $("#id_explanation").markItUp(mySettings);
   });
</script> -->

<table>
	<tr>
		<td>Question Title: </td><td> {{ url_question.title}}</td>
	</tr>
	<tr>
		<td>Explanation: </td><td> {% autoescape off%}{{ url_question.explanation}} {% endautoescape %}</td>
	</tr>
<form action="." method = "POST">{% csrf_token %}

    <tr valign="top"><td>Edit answer: </td><td>{{ form.explanation}}</td></tr>
    <tr><td>Tags: </td><td>{{ form.tags }}</td></tr>
    

</table>
<tr><th>&nbsp;</th><td><input type="submit" value="save your changes"><INPUT type="button" value="Click here to go back" onClick="history.back()"></td></tr>
</form>
<script type="text/javascript">
	CKEDITOR.replace( 'explanation',
    {
        toolbar : 'MyToolbar'
     } );
</script>
{% endblock %}
