
{% extends 'base.html' %}

{% block primary %}

<body>

<p class "p2">Learness is based on learning 'Paths':</p>

<p class "p3">You write question that you have about the subject you are learning and then answer your own questions.
<p class "p3">
The process works as follows: 
<ul><li>Start a new project for a subject you want to learn</li>
<li>Start adding questions you have</li>
<li>When you figure out the answer or part of it, write the answer</li>
<li>Keep on adding questions and answers as your learning process evolves</li>
</p>


</body>


{% endblock %}
</html>
