p.p1 {margin: 0.0px 0.0px 16.0px 0.0px; font: 5em Times}
p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 2pem Times}
p.p3 {margin: 0.0px 0.0px 12.0px 0.0px; font: 12.0px Times}     
ul.ul1 {list-style-type: disc; font: 3em Times}