/*Contents

1. General - default styling of elements
2. Template
3. Project page
4. Question list for projects
4. 


/* 1. GENERAL*/

#project-ul .Qtitle {
font-family: 'PT Sans', Arial;
cursor: pointer;
}

a {
font-family: arial, serif;
text-decoration:none;

}
h1 {
font-family: 'Josefin Sans Std Light', arial, serif;
}

h2 {
font-family: 'Josefin Sans Std Light', arial, serif;
}
input {
font-family: 'PT Sans', arial, serif;
font-size: 14px;
}

ul {
 list-style-type:none;

}

body {
font-family: 'PT Sans', arial, serif;
margin:0px;
}

ul {

margin: 0px;
}

    

/* 
 * 
 *2. TEMPLATE
 *
 *  These are template items that show up on almost every page
 */


/*head is a container on top of the page.*/

#head {

    clear: left;
    height: 0px;
    padding: 0px;

}
/*Leftline is for the left thing running round the */
#leftline {

    background: rgb(244,233,30);
    width: 190px;
    float: left;
    min-height:800px;
}
 
#rightline {

    float: right;

    width: 150px;

}

#footer {

    clear:both;
    height:50px;
}

/*Small comments can be used for different stuff, for example project details*/

.smallcomments {
    
    font-family: 'Josefin Sans Std Light', arial, serif;
    font-size: 14px;
    color: rgb(15,15,15);
    display:inline;

}

.smallcomments li {

    display: inline;
}


.add {

    font-size: 12px;
     color: rgb(2,90,191)
     }
     
.add:hover { 
    color:rgb(242,45,27);

}

.add-comment {

    font-size: 12px;
     color: rgb(2,90,191);
     float:right;
     }
     
.add-comment:hover { 
    color:rgb(242,45,27);

}

.addbox {
    text-decoration:underline;

}


.form th {
    text-align:left;
    font-family: 'PT Sans', arial;
    font-weight:normal;
    vertical-align:top;
    
}

/* 
*
* 3. PROJECT PAGE 
*
*/

#project-list {

    margin-left: 10%;

}

/*Project-header is for the Projects */
#project-header {
	
	display: block;
	margin-top:32px;
    margin-bottom:5px;
    margin-left:1px;
	text-decoration: none;
		}
        
#project-header a{
    font-size:12px;
    
}

/*Project-container is for the listing on the first page with all the projects*/
.project-container {
		color: #0000CC;
		font-size: 24px;
		display: block;
		line-height: 130%;
		background: #E8E8E8;
		letter-spacing: 1.7px;
		margin-top:2px;
	    margin-left:1px;
		padding-left: 5px;
		padding-top: 5px;
		border-style:solid;
		border-width:0px;
		text-decoration: none;
		}

.project-container:hover {
		background: #C8C8C8;
	    text-decoration: none;
        }


#ProjectHolder {

    margin-left:10%;

}

#ProjectHolder h1 {

    font-size: 38px;
    letter-spacing: 1.7px;
    line-height: 24px;
    font-weight: normal;
}


.inlinelist {

    display:inline;

}

.yellowblock {

    /*background: rgb(244,233,30);*/
    font-family: Arial;
    font-size: 14px;
    width: 10px;
    padding-right:15px;
    text-align: left;
    vertical-align: top;
}

#projectlist {
color: rgb(124,124,124);
font-size: 14px;

}

#projectlist:hover {
    color: rgb(2,90,191);
    text-decoration:underline;

}

a.a1 {margin: 0.0px 0.0px 16.0px 0.0px; font: 12px; color: rgb(2,90,191)}
a.a1:hover { color:rgb(242,45,27);}
 
h1 a.a1 {margin: 0.0px 0.0px 16.0px 0.0px; font: 12px; color: rgb(2,90,191)}



/*
*
* 3. Questionpage
*
*/

/*Qtitle is the class of the span where the question title is.*/

.Qtitle {
    
    color: rgb(20,20,20);
    font: sans-serif, arial, serif;
    font-size: 14px;

}

.Qtitle:hover {
    
    color: rgb(80,80,80);
    text-decoration:underline;

}

.QuestionTitleTD {

padding: 0px 0px 0px 0px;

}


.readable {

    font-family: 'Pt Sans', arial, serif; 
    font-size: 14px;
    color: rgb(12,12,12);

}

.answers {

    margin-top:10px;

}

.comments {

font-family: 'Josefin Sans Std Light', arial, serif;
font-size: 14px;
color: rgb(15,15,15);

}

.answerBlock
{
display: block;
padding-bottom: 2px;
border-style:solid;
border-width:0px;
margin-left:15px;
padding-left: 45px;

}

.answerBlock:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibity: hidden;
}

.answer
{
display: block;
background: #F0F0F0;
margin-top: 10px;
padding:3px 10px 15px 10px;
text-align:justify;
margin: 0px;
border-style:solid;
border-width:0px;
}

.answer p {

padding: 15px 0px 2px 25px;

}

.questionText ul{
    
    display: inline;
    font-family: Arial;
    font-size: 12px;
    color: (44,44,44);

}

.questionText ul li{
    
    display: inline;

}


/* explanationBlock is the placeholder div for the explanation of the question */

.explanationBlock {
	
    display: block;
    font-size: 14px;
	text-align: left;
    margin-left: 0px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
        }
.explanationBlock p{
	
}
        
#project-ul li{
    
    
    list-style-type:none; 
    margin-top:6px;   

}


/*questionBlock and  is the question and project box*/

#questionBlock {

display: block;
line-height: 20px;
background: #fff;
letter-spacing: 1.7px;
padding-left: 0px;
border-style:solid;
border-width:0px;
font-family: Arial;
}

.question-container {

background-color: rgb(245,245,245);
margin: 1px;

}

/* answerButton is the button that opens the answer div */

a.answerButton {
    background: fff;
    text-align: left;
    font-size: 14px; 
    /*height: 20px;*/
    margin-top:0px;
    /*margin-left:1px;*/
    padding-top: 1px;
    padding-left: 1px;
}

a.answerButton:hover{
    /*background: #6666FF;*/
}


/* comment-container is for the comments*/

.comment-container {
    display: block;
    background: #fff;
    text-align: left;
    margin-left: 20%;
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
    color: rgb(89,89,89);
    text-decoration: none;
        }
.containerInComment {
    border-bottom-style:dotted;
    border-width: 1px;
    
}        
        
.comment-container a {
     font-size: 12px;
    
}
                

/* Comment-form is for the comment form */

.comment-form {
    /*display: none; */
    background: #fff;
    text-align: left;
    margin-left: 50px;
    padding-top: 0px;
    padding-left: 0px;
    color: #000000;
    text-decoration: none;
        }
        
.comment-form p:hover {
    background: #E8E8E8;
    color: #000000;
    text-decoration: none;
    display:none;
        }  
a.addQuestion {

}

a.addQuestion:hover {

}

/* The addComment class is for the comment form */
.addComment {
    background: #fff;
    text-align: left;
    margin-top:2px;
    margin-left: 50px;
    padding-top: 1px;
    padding-left: 20px;
    color: #000000;
    text-decoration: none;
        }
        
.addcomment-btn {
    
    float: right;
}
/* The btn-slide is for the "Comment" Button to make the form slide out. */

a.btn-slide {
    background: fff;
    text-align: left;
    fontsize: 12px;
    /*height: 20px;*/
    margin-top:1px;
    margin-left:1px;
    padding-top: 1px;
    padding-left: 1px;
}

a.btn-slide:hover{
    /*background: #6666FF;
    color: #000000;*/
    text-decoration: underline;
}

/* answerNcomments is the placeholder div for answers and the comment for the answers. */

.answerNcomments {
    display: block;
    background: #fff;
    text-align: left;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
    color: #000000;
    text-decoration: none;
        }
/*the commenter-table is a table that holds the information about who has given the comment*/

.commenter-table {
	font: 0.7em Times; 
	color: #b8b8b8;
}

/*
 *
 * 4. ADDING PAGES
 *
 */
 
 #id_title {
    rows:2;
    width: 450px;
    padding:3px;
    
 
 }
 
 #id_explanation {
    width: 450px;
    cols:30;
    rows:5;
    height:50px;
 
 
 }
 

.action-container a {
    display: block;
    float:right;
    height:30px;
    width:80px;
    line-height:30px;
    color: rgb(0,0,0);
	font:28px; 
    font-family: 'Cuprum', arial, serif;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    background: rgb(244,233,30);
    border-bottom: 1px solid #DAA520;
    border-right: 1px solid #DAA520;
    border-top: 1px solid #FFF68F; 
    border-left: 1px solid #FFF68F; 

        }

        
#clear {
    display: block;
    clear:both;
    float: right;
    background: #D0D0D0;
    height:24px;
    text-align: left;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
    color: #000000;
    text-decoration: none;
        }

div#header a{
padding-left:10px;
padding-bottom: 10px;
padding-bottom: 10px;
padding-top: 20px;
margin-bottom: 5px;
color: #fff;
text-decoration: none;
font-size: 44px;
font-family: Cuprum, Verdana;
}


/* Show empty cells */
table { empty-cells:show; }



 
  
body {
  margin: 0px;
  padding: 0px;
}


#leftcol {
    float: left;
    border-style:solid;
    border-width:0px;
    width: 20%;
 }   
  
   /*
     background: url('site_media/textTile.png') 20% 0;
  */
  /*
  background: #ccc url(/site_media/textTile.png) repeat-y 50% 0;
  flot: left;
  */
  /*
  background-image:url('/site_media/textTile.png');
  background-repeat:repeat-y;
  float: left;
  */
  
#rightcol {
  background: url('/site_media/whiteTile.png');
  float: right;
  background-repeat: repeat-y;
}

#content {
  background: #fff;
  float: left;
  border-style:solid;
  border-width:0px;
  width: 680px;

}

.content {
    margin: 20px;
}

/* Navigation for the upper navigation*/

.navigation a {
    color: rgb(124,124,124);
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 1px;
    
        }

.navigation a:hover {
    color: rgb(2,90,191);
    text-decoration: underline;
        }  

.login ul{
    float: right;
    list-style-type:none;
    text-decoration: none;
    padding: 0px;
}

div#middle {
    height:auto;
}

.login {
    position:absolute;
    top:2px;
    right:2px;
}

.login li{
    display: inline;
}

.login a:hover {
    color: #6633cc;
}

.login p {
    float: right;
    text-decoration: none;
    font: 0.7em Times;
}




